.borderss {
    width: 284px;
    height: 415px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: linear-gradient(180deg, #111010 15.62%, rgba(51, 36, 36, 0.580247) 51.04%, rgba(30, 11, 99, 0.290123) 99.99%, rgba(49, 23, 210, 0) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    border: 1px solid;

    border-image-source: linear-gradient(89.26deg, #FEF8F8 0.69%, rgba(243, 237, 237, 0) 30%, rgba(243, 237, 237, 0) 99.43%);
    box-shadow: 4px 4px 4px 0px #FFFFFF;


}

.borderss {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 1200px;
    gap: 70px;
    padding-top: 40px;
    /* padding-left: 0px; */




}
.abc img{
    position: absolute;
    /* width: 227; */
/* height: 31; */
top: 40px;
left: 35px;
/* border-radius: 10px; */

}
.borderss input{
    background-color:#D9D9D947 ;
    position: absolute;
    width: 200px;
    height: 31px;
    top: 29px;
    left: 29px;
    border-radius: 10px;
    border-color: #D9D9D947;
    padding-left: 40px;
    color:#FFFFFF;
}
.borderss input::placeholder{
    color: #FFFFFF;
    text-align:center;
    font-family: Roboto Slab;
font-weight: 400;
font-size: 15px;
line-height: 19.78px;
letter-spacing: 0%;

}
.align {
    display: flex;
    flex-direction: column;
    gap: 75px;
    height: 200px;
    width: 200px;
    margin-left: 80px;
    /* padding-left: 50px; */
    text-align: left;
    

}
.align a{
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 17px;
    line-height: 19.78px;
    letter-spacing: 0%;
    text-align: left;
    color: #FFFFFF;
    /* margin-left: 10px; */
    padding-left: 40px;
    

}
{/*}.borderss a {
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 15px;
    line-height: 19.78px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    margin-left: 10px;
    padding: auto;
    




}*/}
.cart{

}

.frameimg {
    position: absolute;
    top: 110px;
    left: 60px;
    gap: 76px;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 40px;

}
.frameimg img{
    
    
    height: 30px;
    width: 20px;

}

{/*}.search { 
    position: absolute;
    width: 227px;
    height: 31px;
    top: 29px;
    left: 29px;
    border-radius: 10px;
    background-color: #D9D9D947;
    



*/ } 